body {
    height: 1016px;
    background-color: #222831;
    font-family: 'Montserrat', sans-serif;
}

.inputFooter {
    bottom: 0;
    width: calc(100% - 264px);
    position: fixed;
    padding: 1%;
    margin-left: 252px; 
}

.messages {
    padding: 30px;
    margin-bottom: 50px;
    width: 100%;
}
