footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 2%;
}

.msg-window{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.msg-window2{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
}

.nav-bar{
    height: 100%;
}
